@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
  scrollbar-width: none;
  scrollbar-color: BLACK;
}

body[top="false"] {
  scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 0px;
}
/* body[top="false"]::-webkit-scrollbar {
  transition: all 0.5s;
  width: 0.5em;
} */

.content {
  margin-left: 10vw;
  width: 80vw;
  height: 100vh;
}

.items {
    margin-left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: auto;
}

.title {
  font-size: 5vw;
  width: 50%;
}

h1 {
    font-family: "IBM Plex Mono", serif;
    font-weight: 300;
}

.title h1 {
  font-family: "Bigshot One", serif;
  font-weight: 400;
  font-style: normal;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
}

.resume {
    height: 100vh;
}

.ph {
  text-decoration: none;
  color: #303030;
}

.links {
  display: flex;
  flex-wrap: wrap;
  font-size: 3em;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 30vw;
}

.links > a {
  transition: all 0.4s;

}
.links > a:hover {
  translate: 0 -10%;
}

.ph-caret-double-down {
  display: inline-block;
  width: 100%;
  height: 10vh !important;
  font-size: 6vh;
  text-align: center;
  transition: all 0.5s linear;
  opacity: 0;
}

.bottom {
  position: static;
  bottom: 0em;
  left: 0em;
  right: 0em;
  background-color: black;
  display: flex;
  color: white;
  padding-left: 7vw;
  font-size: 1.0em;
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
}

.more-links {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.more-links a * , .more-links * {
  font-size: 1.0;
  fill: white;
  color: rgb(230, 230, 230);
}

body[top="true"] .ph-caret-double-down {
    opacity: 1;
    translate: 0 -20%;
}

.project {
  font-size: 2em;
  margin-left: 20vw;
}
.pdf-image {
    display: flex;
    position: relative;
    width: 50vw
}


.pdf {
  /* width: 20vw; */
  width: 40%;
  /* height: 72vw; */
}


.images-grid {
  max-width: 40vw;
  max-height: 70vh;
  height: 70vh;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  flex-direction: column
}

.images-grid * {
  /* max-width: 80%; */
  width: auto;
  height: 15vh;
  padding: 0.5em;
}

.bluesky_img, .project_img {
  max-width: 25vw;
  max-height: 40vh;
  transition: all 0.5s, opacity 0.5s, visibility 0.5s ease-in-out;
  padding: 0.5em;
}



.bsk_container div, .project_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.5s ease;
}
.bsk_container, .project_container {
  min-width: 50vw;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


a img:hover {
  outline: 1px solid black;
}



@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
  .pdf {
    width: 70vw;
    height: max-content;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    min-height: 100vh;
    padding: 1em;

  }

  .row * {
    order: 1;
  }
  .row h1 {
    order: 0;
  }


  .bluesky_img, .project_img {
  max-width: 30vw;
  max-height: 40vh;
}


  .links {
    width: 80vw;
  }
  .title {
    font-size: 12vw;
    width: 80%;
  }
}
