@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    overflow-y: scroll;

}

.content {
    margin-left: 10vw;
    width: 80vw;
    height: 100vh;
}

.title {
    font-size: 5vw;
    width: 50%;
}

.title h1 {
    font-family: "Bigshot One", serif;
  font-weight: 400;
  font-style: normal;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
}




    

.ph {
    text-decoration: none;
    color: #303030;
}
.links {
    display: flex;
    flex-wrap: wrap;
    font-size: 3em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 30vw;
}

.ph-caret-double-down {
    display:inline-block;
    width: 100%;
    height: 10vh !important;
    font-size: 6vh;
    text-align: center;
    transition: opacity 1s;
}

.project {
    font-size: 2em;
    margin-left: 20vw;
}

@media all and (orientation:portrait) {
    /* Style adjustments for portrait mode goes here */
    
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.links {
    width: 80vw;
}
.title {
    font-size: 12vw;
    width: 80%;
}
    }
    