@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

.links {
    display: flex;
    position: absolute;

    left: 0;
    right: 0;
    top: 60vh;
    bottom: 15vh;
    align-items: center;
    justify-content: space-around;
    /* border: 1px black solid; */
    opacity: 1;
    transition: all 0.5s;
    z-index: 2;
}



@media all and (orientation:portrait) {
        .links {
            flex-direction: column;
        }
        .continue {
            margin-top: 0.5em;
        }
    }
    
    @media all and (orientation:landscape) {
        .links {
            flex-direction: row;
        }
        .links {
            left: 30vw;
            right: 30vw;
        }
    }

.continue {
    background-color: transparent;
    font-style: italic;
    color: grey;
    border:none;
    font-size: 1.5em;
}

.continue:hover {
    text-decoration: underline;
}


body[more="true"] .links {
    pointer-events: none;
    opacity: 0;
}
body[more="true"] canvas {
    pointer-events: none;
    opacity: 0;
}


html,
body,
canvas {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 1;
    scale: 1.0;
    transition: all 0.5s;
}

body[more="true"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.content {
    display: flex;
    width: 80vw;
    /* border: 1px black solid; */
    flex-direction: row;
    opacity: 0;
    /* flex-flow: wrap; */
    transition: all 0.5s;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 8em;
    z-index: -2;

}

@media all and (orientation:portrait) {

.box img {
    min-height: 5em;
    height: auto;
}
}

@media all and (orientation:landscape) {

.content {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100%;
    grid-gap: 1em;
    z-index: -2;
    padding-bottom: 0em;

}
}

body[more="true"] {
    overflow: scroll;
}

body[more="true"] .content {
    opacity: 1;
}



.content .box {
    background-color: rgba(220, 220, 220, 0);
    color: black;
}

.content .box img {
    border-radius: 0.5em;
    width: 100%;
}