

.blue_line {
    width: 100%;
    height: 0;
    outline: blue 2px dashed;
}

body:not([page="home"]) .home {
    animation: disappear 0.5s linear;
    /* display: none; */
    opacity: 0;
}

@keyframes disappear {
    from {
        opacity: 1;
        display: flex;
        
    } to {
        opacity: 0;
        display: none;
    }
}


body[page="home"] .home {
    display: flex;
    opacity: 1;
}

